# Global ignores
*.log
*.pot
*.pyc
__pycache__
.DS_Store
Thumbs.db

# Ignore virtual environment directories
venv/
backend/venv/

# Local environment variables
.env

# Node.js dependencies
node_modules/

# SvelteKit specific
.svelte-kit/
.vite/

# Vite
vite.lock
vite-error.log

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Playwright (if you're generating any artifacts)
test-results/
playwright-report/

# Build
build/

# Vercel
.vercel